extends layout

block content
  h1= title
  #currentUsers
  #userBoard
    p.username Your Board
    p#userText HERE IS SOME TEXT TO TYPE
  #otherBoards
  #template
    p.username
    p.text HERE IS SOME TEXT TO TYPE

