extends layout

block content
  #leftNav
    h1#title TypeRacer
    h3 Current Users
    #currentUsers
  #contentWrapper
    #mainContent
      #userLane
        p.username Your Lane
        p#userText HERE IS SOME TEXT TO TYPE
      #otherLanes
      #template
        p.username
        p.text HERE IS SOME TEXT TO TYPE

