extends layout

block content
  #leftNav
    h1#title TypeRacer
    form#setUserName
      input(type='text')
      input(type='submit' value='Set Name')
    h3 Current Users
    #currentUsers
    button#beginGame Begin!
  #contentWrapper
    #mainContent
      #userLane
        p.current-username Your Lane
        p#userText HERE IS SOME TEXT TO TYPE
      #otherLanes
      #template
        p.username
        p.text HERE IS SOME TEXT TO TYPE

